<!DOCTYPE html>
<html lang="en">
<style>
    body {
        background-color: bisque;
        text-align: center;

    }

    h1 {
        font-family: 標楷體;
    }

    .stocks {
        background-color: rgb(97, 53, 0);
        margin: 6px auto;
        width: 400px;
        text-align: center;
        padding: 6px;
        color: white;
        border-radius: 6px;
        border: 1px rgb(110, 0, 0)solid;
    }
</style>

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>股市資訊</title>
</head>

<body>
    <h1>今年以來主要股市漲跌幅</h1>
    <a href="/stocks">更新</a>
    {% if stocks %}
    {% for data in stocks[1:]%}
    <div class="stocks">{{data[0]}},{{data[1]}}</div>
    {% endfor %}
    {% else %}
    <h2 style="color:red">系統忙碌中，請稍後再試!</h2>
    {% endif %}
    <!--{{stocks}}-->
    <a href="/">回首頁</a>
</body>

</html>